<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945163606588-em8o3o93j9oeoato6rbap8sqn6ppmbg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945163606588-em8o3o93j9oeoato6rbap8sqn6ppmbg3</string>
	<key>API_KEY</key>
	<string>AIzaSyCMor55JBQb7ipIGUQWGcGljR3Z9Rgs17E</string>
	<key>GCM_SENDER_ID</key>
	<string>945163606588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutPlanner</string>
	<key>PROJECT_ID</key>
	<string>fitworkoutplanner</string>
	<key>STORAGE_BUCKET</key>
	<string>fitworkoutplanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945163606588:ios:f0da7a3fac79fba01f4139</string>
</dict>
</plist>